* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.top-nav {
  width: 100vw;
  height: 100px;
  background-color: #f2cc0f;

  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: center;


}

.homepage-li {
  margin: 20px;
  display: flex;
  /* background-color: #9453a6; */
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  width: 100px;
  font-family: "Henny Penny";
  color: #9453a6;
}

.homepage-li:hover {


  color: #8cbf3f;
  background-color: "red";
  height: 80px;
}

.a-about {
  text-decoration: none;
  color: #9453a6;
}
.a-about:hover {
  text-decoration: none;
  color: #8cbf3f;
}

#nav-color {
  background-color: #8cbf3f;

}

#link-color {
  color: #9453a6;
  font-family: "Henny Penny";
  text-decoration: none;
}

.logo-header {
  display: flex;
  font-family: "Henny Penny";


  align-items: center;
  justify-content: center;
  width: 80vw;
  margin-top: 5px;
}

@media (max-width: 1000px) {

  .nav-bar {
    display: none;
  }
}

.span1-header {
  color: #9453a6;
  font-size: 30px;
}

.span2-header {
  color: #8cbf3f
}

.span3-header {
  color: #9453a6;
  font-size: 40px;
}

/* Carousel */
#slide-1 {
  background-image: url(/mardi-gras/imgs/mardi-gras-free-entertainment-potawatomi.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;

}

#slide-2 {
  background-image: url(/mardi-gras/imgs/images.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;

}

#slide-3 {
  background-image: url(/mardi-gras/imgs/mardi-gras-costumes.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;

}

#slide-4 {
  background-image: url(/mardi-gras/imgs/images.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;

}

#slide-5 {
  /* background-image: url(/mardi-gras-free-entertainment-potawatomi.jpeg); */
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;

}

.top-footer-wrap {
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #9453a6;

}

.logos {
  display: flex;


  width: 100vw;
}

.youtube-logo {
  width: 40px;
  position: relative;
  border-radius: 20px;



}

.facebook-logo {
  width: 40px;
  margin-left: 20px;
  border-radius: 20px;


}

.instagram-logo {
  width: 40px;
  margin-left: 20px;
  border-radius: 20px;



}

.twitter-logo {
  width: 40px;
  margin-left: 20px;
  border-radius: 20px;
}

.bottom-footer-wrap {

  width: 100vw;
  height: 70px;
  background-color: #8cbf3f;
  display: flex;
  align-items: center;
  justify-content: center›;

}

.sponsors-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 100%;
  margin-left: 100px;

}

.ritz-logo {
  width: 120px;
  margin: 20px;
  border-radius: 5px;
}

.parking-logo {
  width: 60px;
  margin: 20px;
  border-radius: 5px;
}

.hauntedMuseum-logo {
  width: 100px;
  margin: 20px;
  border-radius: 5px;
}

.museum-death-logo {
  width: 80px;
  margin: 20px;
  border-radius: 5px;
}

.ace-logo {
  width: 100px;
  margin: 20px;
  border-radius: 5px;

}

.lcm-logo {
  width: 100px;
  margin: 20px;
  border-radius: 5px;
}

.walk-on-logo {
  width: 100px;
  margin: 20px;
  border-radius: 5px;

}

.walk-on-logo:hover {
  transform: scale(1.5);
}

.all-headers{
  font-size: 20px;
  text-align: center;

}
body{
  background-image: linear-gradient(#9453a6, #8cbf3f);
}
#video-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inner-divs{
  margin-left: 15px;
}