* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}
body{
  background-color: #8cbf3f;
}


.top-nav {
  width: 100vw;
  height: 100px;
  background-color: #f2cc0f;
  ;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: center;


}

.homepage-li {
  margin: 20px;
  display: flex;
  /* background-color: #9453a6; */
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  width: 100px;
  font-family: "Henny Penny";
  color: #9453a6;
}

.homepage-li:hover {


  color: #8cbf3f;
  background-color: "red";
  height: 80px;
}

.a-about {
  text-decoration: none;
  color: #9453a6;
}
.a-about:hover {
  text-decoration: none;
  color: #8cbf3f;
}

#nav-color {
  background-color: #8cbf3f;

}

#link-color {
  color: #9453a6;
  font-family: "Henny Penny";
  text-decoration: none;
}

.logo-header {
  display: flex;
  flex-direction: column;
  font-family: "Henny Penny";


  align-items: center;
  justify-content: center;
  width: 80vw;
  margin-top: 5px;
}

.span1-header {
  color: #9453a6;
  font-size: 30px;
}

.span2-header {
  color: #8cbf3f
}

.span3-header {
  color: #9453a6;
  font-size: 40px;
}
/* nav/header ends here */

.header{
  text-align: center;
  padding: 40px;
  font-family: "Pattaya";
  margin-bottom: 20px;
}

#form-wrap{
  width: 100%;
  height: 600px;
  background-image: linear-gradient(#9453a6, #8cbf3f);
  
  
  
}

/* .form-wrap {
  margin: auto;
  width: 40%;
  height: 800px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f2cc0f;
} */


form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  box-shadow: 2px 2px 5px black;
  padding: 10px;
  margin-top: 75px;
  background-color: #f2f2f2;
  margin:10px auto;

}


.name-email-wrap {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.name-field {
  width: 100%;
  margin-right: 10px;
  height: 50px;
  border: none;
  padding: 15px;
  background-color: #9453a6;
  border-radius: 10px;
}



.name-field:focus {
  border-bottom: 8px solid #f2cc0f;
  outline: none;
}

.name-field::placeholder {
  color: transparent;
}


.email-field {
  width: 100%;
  height: 50px;
  border: none;
  padding: 15px;
  background-color: #9453a6;
  border-radius: 10px;
}

.email-field:focus {
  border-bottom: 8px solid #f2cc0f;
  outline: none;
}

.email-field::placeholder {
  color:transparent
}



.subject-field {
  margin-bottom: 10px;
  height: 50px;
  border: none;
  padding: 15px;
  background-color: #9453a6;
  border-radius: 10px;

}

.subject-field:focus {
  border-bottom: 8px solid #f2cc0f;
  outline: none;
}

.subject-field::placeholder {
  color: transparent;
}


.textarea {
  border: none;
  padding: 15px;
  background-color: #9453a6;
  border-radius: 10px;
}

.textarea:focus {
  border-bottom: 8px solid #f2cc0f;
  outline: none;
}

.textarea::placeholder {
  color: transparent
  
}


/* .submit-button {
  width: 30%;
  height: 70px;
  margin: auto;
  margin-top: 30px;
  letter-spacing: 2px;
  background-color: transparent;
  border: 3px solid #9453a6;
  align-self: flex-end;
  min-width: 197px;
  color: #9453a6;
} */

/* .submit-button:hover {
  background-color: #f2cc0f;
  color: white;
} */

.errMsg {
  color: red;
  font-size: 12px;
}
.top-footer-wrap {
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(#9453a6, #8cbf3f);
  padding: 40px;
/* margin-top: 75px; */
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8cbf3f;

}

.youtube-logo {
  width: 40px;
  position: relative;
  border-radius: 20px;



}

.facebook-logo {
  width: 40px;
  margin-left: 20px;
  border-radius: 20px;


}

.instagram-logo {
  width: 40px;
  margin-left: 20px;
  border-radius: 20px;



}

.twitter-logo {
  width: 40px;
  margin-left: 20px;
  border-radius: 20px;
}

.bottom-footer-wrap {

  width: 100vw;
  height: 70px;
  background-color: #8cbf3f;
  display: flex;
  align-items: center;
  justify-content: center;
  
 

}
.ptext{
  margin-left: 15px;
}

.sponsors-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

@media (max-width: 1100px) {

  .sponsors-logo {

    display: none;
  }
}

.ritz-logo {
  width: 120px;
  margin: 20px;
  border-radius: 5px;
}

.parking-logo {
  width: 60px;
  margin: 20px;
  border-radius: 5px;
}

.hauntedMuseum-logo {
  width: 100px;
  margin: 20px;
  border-radius: 5px;
}

.museum-death-logo {
  width: 80px;
  margin: 20px;
  border-radius: 5px;
}

.ace-logo {
  width: 100px;
  margin: 20px;
  border-radius: 5px;

}

.lcm-logo {
  width: 100px;
  margin: 20px;
  border-radius: 5px;
}

.walk-on-logo {
  width: 100px;
  margin: 20px;
  border-radius: 5px;

}

.walk-on-logo:hover {
  transform: scale(1.5);
}
#submitMsg{
  width: 300px;
  height: 200px;
  position: absolute;
 left:800px;
  top: 400px;
  visibility: hidden;
  border-radius: 20px;
  font-size: 15px;
  background-color: black;
  
  

}



#my-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 400px;
  box-shadow: 2px 2px 5px black;
  padding: 10px;
  margin-top: -20px;
  background-color: black;
  color: #f2cc0f;
  border-radius: 10px;
 margin-bottom: 75px;

}

.name-email-wrap {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.name-field {
  width: 100%;
  margin-right: 10px;
  height: 30px;
  border: white 1px solid;
  padding: 15px;
  background-color: #9453a6;
  
}

.name-field:focus {
  border-bottom: 8px solid #f2cc0f;
  outline: none;
}

.name-field::placeholder {
color: transparent;
}


.email-field {
  width: 100%;
  height: 30px;
  border: none;
  padding: 15px;
  background-color: #9453a6;
  border: solid white 1px;
}

.email-field:focus {
  border-bottom: 8px solid #f2cc0f;
  outline: none;
}

.email-field::placeholder {
  color: transparent;
}



.subject-field {
  margin-bottom: 10px;
  height: 30px;
  border: none;
  padding: 15px;
  background-color: #9453a6;

}

.subject-field:focus {
  border-bottom: 8px solid #f2cc0f;
  outline: none;
}

.subject-field::placeholder {
  color: transparent;
}


.textarea {
  border: none;
  padding: 15px;
  background-color: #9453a6;
}

.textarea:focus {
  border-bottom: 8px solid #f2cc0f;
  outline: none;
}

.textarea::placeholder {
  color: transparent;
}


.submit-button {
  width: 30%;
  height: 70px;
  margin: auto;
  margin-top: 100px;
  letter-spacing: 2px;
  background-color: transparent;
  border: 3px solid #9453a6;
  align-self: flex-end;
  min-width: 197px;
  color: #9453a6;
}

.submit-button:hover {
  background-color: #f2cc0f;
  color: white;
}

.errMsg {
  color: red;
  font-size: 12px;
}

@media (max-width: 1000px) {

  .nav-bar {
    display: none;
  }
}

@media (max-width: 1000px) {
  label {
    color: transparent;

  }
}

@media (max-width:1000px){
  .name-field::placeholder,
  .email-field::placeholder,
  .subject-field::placeholder,
  .textarea::placeholder{
    color: white;
  }

}

.x-btn{

  display: flex;
  align-items: center;
  justify-content: center;
 background-color: black;
 color: #f2cc0f;
 border:solid 2px white;
 margin-top: 50px;
 margin-left: 80px;
}




